extends ../layout

block content
  .page-header
    h3 M
  form.form-horizontal(method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='bankId') B
      .col-sm-7
        select.form-control(id='bankId', name='bankId')
          each bank in bank_list.banks
            option(value=bank.id) #{bank.name}
    .form-group
      .col-sm-7
        input.form-control(type='hidden', name='facebook_id', id='facebook_id', value=facebook_id )
    .form-group
      label.col-sm-3.control-label(for='id2') ID
      .col-sm-7
        input.form-control(type='text', name='login', id='login', placeholder='Login', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Authorize Bank
      .col-sm-offset-3.col-sm-7
          if error != 'no'
            label.error-msg-1 Invalid Client! Please recheck your credential!
